.h1 {
  font-size: clamp(40px, 10vw, 120px);
  font-weight: 600;
  color: #453d3d;
  width: min-content;
  margin: 10vh 0 2vh 0;
  line-height: 100%;

  @media (max-width: 1000px) {
    margin-top: 10vh;
  }
}

.h2 {
  font-size: clamp(30px, 8vw, 40px);
  font-weight: 600;
  color: #413d3e;
  margin: 0;
}

.dateIntro {
  display: flex;

  @media (max-width: 800px) {
    display: block;
  }
}

.date {
  color: var(--accent-color);
  font-weight: 600;
  font-size: clamp(18px, 5vw, 24px);
  white-space: nowrap;

  @media (max-width: 1000px) {
    margin-bottom: 2vh;
  }
}

.intro {
  color: #282727;
  font-size: clamp(18px, 5vw, 24px);
  font-size: 400;
  text-wrap: balance;
  margin-top: calc(3vh + 30px);

  @media (max-width: 800px) {
    margin-top: 0;
  }
}

.photoBlock {
  width: 160px;
  text-align: right;
  margin-left: calc(100% - 160px);

  @media (max-width: 800px) {
    margin-top: 2rem;
    margin-left: 0;
    width: 100%;
  }
}

.contactsTop {
  display: flex;
  justify-content: space-between;
}

.pageGrid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
}

.grid2 {
  grid-column: span 2;
}

.grid3 {
  grid-column: span 3;
}

.grid4 {
  grid-column: span 4;
}

.grid5 {
  grid-column: span 5;
}

.grid6 {
  grid-column: span 6;
}

.grid7 {
  grid-column: span 7;
}

.grid8 {
  grid-column: span 8;
}

.grid9 {
  grid-column: span 9;
}
