@property --progress {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 0%;
}

@keyframes progress {
  0% {
    --progress: 0%;
  }
  100% {
    --progress: 100%;
  }
}

.backToTop {
  --white: #fff;
  background-image: linear-gradient(
    var(--main-color) 0% var(--progress),
    var(--white) var(--progress) 100%
  );
  display: inline-block;
  inset: auto 2rem 2rem auto;
  overflow: hidden;
  animation: progress linear;
  animation-timeline: scroll();
  padding: 5px;
  position: fixed;
  bottom: calc((100% - 30px) / 2);
  right: 2vw;
  clip-path: polygon(50% 0%, 100% 100%, 0 100%);
  width: 20px;
  height: 20px;

  @media (max-width: 1000px) {
    right: 1rem;
    bottom: calc((100% - 40px) / 2);
  }
}

@supports not (animation-timeline: scroll()) {
  .backToTop {
    background-image: none;
  }
}

.backToTop:is(:link, :visited) {
  color: currentColor;
  text-decoration: none;
}

.backToTopInner {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.backToTopSVG {
  display: block;
  fill: none;
}
