.sidebar {
  left: 0;
  top: 0;
  width: fit-content;
  display: flex;
  padding: calc(118 / 1440 * 100vw + 7vw - 30px) 2vw 0 2vw;
  flex-direction: column;
  align-items: baseline;
  z-index: 50;
  box-sizing: border-box;
  position: absolute;
  transition: transform 0.8s cubic-bezier(0.27, 0.2, 0, 1.19), padding 0.3s;

  @media (max-width: 1000px) {
    height: 100vh;
  }
}

.sidebarContent {
  background-color: #fff;
  padding: 30px;
  white-space: nowrap;

  @media (max-width: 1000px) {
    padding: 0;
  }
}

.logo {
  font-size: 4.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--accent-color);
  text-decoration: none;
  transition: transform 0.3s ease;
  display: inline-block;

  @media (max-width: 1000px) {
    display: none;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.mobileHeader {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: none;
  backdrop-filter: blur(5px);
  padding: 1rem;
  opacity: 0;
  box-sizing: border-box;
  will-change: opacity transform;
  transition: opacity 0.5s, transform 0.5s;
  color: #fff;
  pointer-events: none;
  background-image: url(/images/header_bkg.webp);
  background-repeat: no-repeat;
  background-size: clamp(850px, 100%, 100%);
  z-index: 1;

  &.hidden {
    transform: translateY(-100%);
  }
}

.logoMobile {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: var(--accent-color);
  text-decoration: none;
  transform: translateY(2px);
}

.nav {
  flex: 1;
  overflow-y: auto;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;

  @media (max-width: 1000px) {
    gap: 0;
  }
}

.menuTitle {
  display: inline;
  padding: 0.5rem 0;
  font-weight: 500;
  color: var(--main-color);
  margin-bottom: 0.5rem;
  position: relative;
  text-decoration: none;
  will-change: color;
  transition: color 0.3s;
}

a.menuTitle:hover {
  color: var(--accent-color);
}

.menuTitle::after {
  content: "";
  width: 36px;
  height: 1px;
  background-color: #181515;
  position: absolute;
  top: 2.2rem;
  left: 0;
}

.menuItem {
  display: inline-block;
  width: fit-content;
  padding: 0.1rem 0;
  cursor: pointer;
  transition: color 0.3s ease;
  color: var(--tertiary-color);
  text-decoration: none;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 2px;
    background: var(--accent-color);
    will-change: width;
    transition: width 0.3s ease;
    transform: translateX(-50%);

    @media (max-width: 1000px) {
      bottom: 0;
    }
  }

  &:hover {
    color: var(--accent-color);

    &::after {
      width: 100%;
    }
  }

  &.active {
    color: var(--accent-color);
  }
}

.menuButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: none;
  cursor: pointer;
  padding: 1rem 5px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  will-change: transform, opacity, margin;
  transition: opacity 0.5s, transform 0.5s;

  &:hover,
  &.active {
    & .menuButton__inner,
    & .menuButton__inner::before,
    & .menuButton__inner::after {
      background-color: var(--accent-color);
    }
  }

  @media (max-width: 1000px) {
    & .menuButton__inner {
      width: 24px;
      height: 2px;
      background-color: var(--main-color);
      position: relative;
      will-change: transform, opacity background-color;
      transition: transform 0.3s ease, opacity 0.3s ease,
        background-color 0.3s ease;
    }

    & .menuButton__inner::before,
    & .menuButton__inner::after {
      content: "";
      width: 24px;
      height: 2px;
      background-color: var(--main-color);
      position: absolute;
      left: 0;
      will-change: transform, opacity background-color;
      transition: transform 0.3s ease, opacity 0.3s ease,
        background-color 0.3s ease;
    }

    & .menuButton__inner::before {
      transform: translateY(-8px);
    }

    & .menuButton__inner::after {
      transform: translateY(8px);
    }

    &.active .menuButton__inner {
      transform: rotate(45deg);
    }

    &.active .menuButton__inner::before {
      transform: rotate(90deg);
    }

    &.active .menuButton__inner::after {
      opacity: 0;
    }
  }
}

@media (max-width: 1000px) {
  .sidebar {
    margin-left: -100%;
    transition: margin 0.5s ease;
    width: 250px;
    background: white;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
    position: fixed;
  }

  .sidebarOpen {
    margin-left: 0;
  }

  .mobileHeader {
    opacity: 1;
    box-shadow: 0 0 20px 0 #ddd;
    pointer-events: all;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 50;
    will-change: transform, opacity;
    transform: translateX(-100%);
    transition: opacity 0.5s ease;
    opacity: 0;
  }

  .overlayVisible {
    transform: translateX(0);
    opacity: 1;
  }
}

.headerIcon {
  display: flex;
  align-items: center;
  gap: 10px;

  .telegram {
    filter: brightness(0) invert(1);
  }
}

.headerName {
  color: var(--opposite-color);
  text-decoration: none;
}
